<div class="container">
    <nz-breadcrumb>
        <nz-breadcrumb-item>
            <a routerLink="/admin/dashboard">Dashboard</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="action-box">
        <div class="search-box">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Input text..." />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            </ng-template>
        </div>
        <div class="create">
            <button nz-button nzSize="default" nzType="primary"
                (click)="createTplModal(tplTitle, tplContent, tplFooter, '01')">
                <span nz-icon nzType="user-add" nzTheme="outline"></span>
                Add User
            </button>
        </div>
    </div>

    <nz-table #basicTable [nzData]="listOfUser" [nzBordered]="true" [nzSize]="'middle'" [nzNoResult]="'noResultTpl'">
        <thead>
            <tr>
                <th [width]="50"></th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Email</th>
                <th [width]="150">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of listOfUser">
                <td>
                    <nz-avatar nzIcon="user" [nzSrc]="data.imageUrl"></nz-avatar>
                </td>
                <td>{{data.firstName}} {{data.lastName}}</td>
                <td>{{ data.role }}</td>
                <td>{{ data.email }}</td>
                <td class="action">
                    <button nz-button nzSize="small" nzType="default" (click)="open(data)">
                        <span nz-icon nzType="eye" nzTheme="outline"></span>
                    </button>
                    <button nz-button nzSize="small" nzType="default"
                        (click)="createTplModal(tplTitle, tplContent, tplFooter, '02', data)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button nz-button nzSize="small" nzType="default" nz-popconfirm
                        nzPopconfirmTitle="Are you sure delete this task?" (nzOnConfirm)="deleteUser(data)"
                        (nzOnCancel)="cancelDelete()" nzPopconfirmPlacement="bottomRight" [nzOkText]="'Xóa'"
                        [nzBeforeConfirm]="beforeConfirmDelete">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>

                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<ng-template #tplTitle>
    <span *ngIf="updateOrAdd === '01'">Add User</span>
    <span *ngIf="updateOrAdd === '02'">Update User</span>
</ng-template>
<form class="tabs__form" nz-form [formGroup]="userForm">
    <ng-template #tplContent>
        <!-- First Name -->
        <div class="tabs__form-group">
            <label for="firstName" class="tabs__label">First name</label>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your First Name">
                    <nz-input-group style="padding: 8px;" nzPrefixIcon="user" nzSize="large">
                        <input type="text" nz-input placeholder="First name" formControlName="firstName" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Last Name -->
        <div class="tabs__form-group">
            <label for="lastName" class="tabs__label">Last name</label>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your Last Name">
                    <nz-input-group style="padding: 8px;" nzPrefixIcon="user" nzSize="large">
                        <input type="text" nz-input placeholder="Last name" formControlName="lastName" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Email -->
        <div class="tabs__form-group">
            <label for="email" class="tabs__label">Email</label>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please input a valid Email">
                    <nz-input-group style="padding: 8px;" nzPrefixIcon="mail" nzSize="large">
                        <input type="email" nz-input placeholder="Email" formControlName="email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Password -->
        <div class="tabs__form-group">
            <label for="password" class="tabs__label">Password</label>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please input your Password">
                    <nz-input-group style="padding: 8px;" nzPrefixIcon="lock" nzSize="large">
                        <input type="password" nz-input placeholder="Password" formControlName="password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <!-- Role -->
        <div class="tabs__form-group">
            <label for="role" class="tabs__label">Role</label>
            <nz-form-item>
                <nz-form-control nzHasFeedback nzErrorTip="Please select a Role">
                    <nz-select formControlName="role" nzSize="large" nzPlaceHolder="Select a role">
                        <nz-option *ngFor="let role of listOfRole" [nzValue]="role.id"
                            [nzLabel]="role.name"></nz-option>

                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </ng-template>

    <ng-template #tplFooter let-ref="modalRef">
        <!-- Footer -->
        <div class="tabs__form-footer">
            <button nz-button (click)="onCancel(ref)">Cancel</button>
            <button *ngIf="updateOrAdd==='01'" nz-button nzType="primary" [nzLoading]="tplModalButtonLoading"
                (click)="onAddUser(ref)" [disabled]="userForm.invalid">
                Create
            </button>
            <button *ngIf="updateOrAdd==='02'" nz-button nzType="primary" [nzLoading]="tplModalButtonLoading"
                (click)="onUpdateUser(ref)" [disabled]="userForm.invalid">
                Update
            </button>
        </div>
    </ng-template>
</form>

<nz-drawer [nzVisible]="visible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <h3>Thông tin người dùng</h3>
        <nz-descriptions [nzColumn]="2" nzTitle="Avatar">
            <nz-descriptions-item [nzSpan]="2">
                <div style="width: 100%; display: flex; justify-content: center;">
                    <nz-avatar nzIcon="user" [nzSrc]="userDetail.imageUrl" [nzSize]="200"></nz-avatar>
                </div>
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <nz-descriptions [nzColumn]="2" nzTitle="Personal">
            <nz-descriptions-item nzTitle="Full Name" [nzSpan]="1">{{userDetail.firstName}}
                {{userDetail.lastName}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email" [nzSpan]="1">{{userDetail.email}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Role">
                <span>{{userDetail.role}}</span>
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <nz-descriptions [nzColumn]="2" nzTitle="Permission">

            <nz-descriptions-item nzTitle="List Permission">
                <table border="1">
                    <tr>
                        <th>Module</th>
                        <th>Name</th>
                        <th>API</th>
                        <th>Method</th>
                    </tr>
                    <tr *ngFor="let item of userDetail.permissions">
                        <td>{{item.module}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.apiPath}}</td>
                        <td>{{item.method}}</td>
                    </tr>
                </table>

            </nz-descriptions-item>
        </nz-descriptions>
    </ng-container>
</nz-drawer>